//字体
.bai50{
  font-size: 0.6rem;
  color: #fff;
  font-weight: bold;
}
.bai30_bold{
  font-size: 0.3rem;
  color: #fff;
  font-weight: bold;
}
.bai20{
  font-size: 0.2rem;
  color: #fff;
}

.hui20_aaa{
  font-size: 0.2rem;
  color: #aaa;
}
.hei30_000{
  font-size: 0.3rem;
  color: #000;
}
